
@{
    ViewBag.Title = "Action2";
}

<h2>Action2</h2>

<h1>@TempData["morningMessage"]</h1>
<form method="post">
    <input type="number" name="id" value="" />
    <input type="submit" name="Action2" value="Carry TempData" />
</form>